.project-card {
  border: none !important;
  overflow: hidden;
}
.project-card-img {
  overflow: hidden;
}
.project-card a{
  text-decoration: none;
}
.card-title-link{
  color: #FFF;
  display: block;
  width: fit-content;
}
.card-title-link:after{
  display:block;
  content: '';
  border-bottom: solid 3px #FFF;  
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
  transform-origin:  0% 50%;
}
.card-title-link:hover:after{  
  transform: scaleX(1);
}
.card-repo-link{
  display: block;
  color: #AAA;
  width: fit-content;
  font-size: .85rem;
}
.card-repo-link::after{
  display:block;
  content: '';
  border-bottom: solid 2px #AAA;  
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
  transform-origin:  0% 50%;
}
.card-repo-link:hover:after{
  transform: scaleX(1);
}
