.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #09090a;
  z-index: 3;
}
.navbar-brand {
  font-weight: 100;
  color: #FFF;
  font-size: 2rem;
}
.offcanvas {
  background: #09090a;
}

@media only screen and (max-width: 768px) {
  .navbar-brand {
    font-size: 1.5rem;
  }
}